@import "tailwindcss";

@plugin "@tailwindcss/typography";


:root {
  --background: #eff6ff; /* blue-50 */
  --foreground: #172554; /* blue-950 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #eff6ff; /* Force light mode blue-50 even in dark mode for now as requested */
    --foreground: #172554; /* blue-950 */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}